main {
    margin-top: 6rem;
    margin-left: 0px;
}

.plans {
    margin-top: 6.7rem;
    background-color: rgb(4, 96, 83);
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 60%;
    display: inline-block;
}

.plan-title {
    padding: 0.12rem;
    margin-left: 1rem;
}

.plan-descripton {
    background-color: rgb(15, 61, 47);
    margin: 1rem;
    padding: 0.12rem;
    padding-left: 0.3rem;
    border-radius: 0.25rem;
}

#second-plan {
    float: right;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#second-plan h2 {
    margin-top: 0.25rem;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 620px; */
    margin-left: 4px;
    color: blueviolet;
    font-weight: bold;
    /* padding: 2px 5px; */
}